body {
    background-color: aquamarine;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: blueviolet;
    display: flex;
}

/* 

    flex-shrink -> Esta propiedad funciona como un factor de contracción o encojimiento, reducción de los elementos de un contenedor flex.

        flex-shrink: 1; -> Este es el valor por default de los items. Si no se declara esto es lo que aplica.

        Recibe valores númericos: 1,2,3,4...

*/

.items {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1; /* Valor por default */
    background-color: blue;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}

.apachurro1 {
    flex-shrink: 1;
    flex-basis: 400px;
    color: azure;
    background-color: blue;
}

.apachurro2 {
    flex-shrink: 2;
    flex-basis: 300px;
    color: brown;
    background-color: greenyellow;
}

.apachurro3 {
    flex-shrink: 3;
    flex-basis: 200px;
    color: azure;
    background-color: red;
}

.apachurro4 {
    flex-shrink: 4;
    flex-basis: 100px;
    color: rebeccapurple;
    background-color: yellow;
}