body {
    background-color: aquamarine;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */ /* Espacio entre los elementos*/
    /* gap: 4rem; *//* Unidades absolutas: px o relativas: em o rem */
    column-gap: 16px; /* Espacio entre los elementos en la vertical */
    row-gap: 32px; /* Espacio entre los elementos en la horizontal */
    gap: 10px 32px; /* Con dos valores, el primero e para espacio horizontal y el segundo con elespacio vertical */
    background-color: blueviolet;

.items {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
}
